.navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    height: 100px;
    background-color: rgb(0, 105, 61);
}

.navbar-brand{
    color: white;
    margin-left: 20px;
    font-size: 1.5em;
    text-decoration: none;
}

.navbar-link{
    color: white;
    margin-left: 20px;
    font-size: 1em;
    text-decoration: none;
}